* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;

}

main {
    display: flex;
    justify-content: space-around;
}

a {
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
    color: rgb(153, 30, 171);
    font-weight: bolder;
}

.timer {
    float: right;
    margin-right: 20px;
    list-style: none;
}
.sec-remain {
    float: right;
    margin-right: 50px;
    list-style: none;
}

section {
    flex: 0 auto;
    padding: 8px;
    margin-top: 50px;
    border-radius: 8px;
}

.main-titles {
    text-align: center;
    width: 100%;
    height: 20%
}

.start-btn {
    margin-top: 10px;
}

button {
    background-color: black;
    color: white;
    cursor: pointer;
}

span {
    display: flex;
    justify-content: flex-start;
    margin: 3em;
    
}

.game-box {
    background-color: black;
    border: 5px solid rgb(177, 19, 19);
    border-radius: 5px;
    margin: auto;
    padding: 20px;
    color: white;
}

.btn {
    display: flex;
    margin: 2rem;
    font-size: 15px;
}

.start-screen {
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;
}

#questions {
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;
}

.options {
    margin-top: 3em;

}

.quiz-game {
    width: 50vw;
    height: 400px;
}

.result {
    width: 30vw;
    height: 400px;
}

.hide {
    display: none;
}
